.App {
  text-align: center;
}


.header {
  height: 20vmin;
  min-height: 140px;
}

.header img {
  display: block;
  width: 90px;
  height: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

